<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
  <div style="width:100%; height: auto; min-height: 800px; margin:0px auto; max-width: 600px;">
    <a href="https://www.bloovo.com" target="_blank" style="color:rgb(5,99,193);text-decoration:underline">
      <img src="https://gallery.mailchimp.com/68c0b59f3062e3ba384dbcda4/images/13ba79ac-5603-4c9c-88d2-b39ab57abc13.jpg" width="100%" height="auto">
    </a>
    <div style="height: 20px;"></div>
    <div class="layout one-col email-footer" style="Margin: 0 auto;">
      <!-- Footer -->
      <div class="container-footer" style="text-align: center;">
        <div class="social">
          <a href="https://www.facebook.com/BloovoWorld/" target="_blank"><img src="https://gallery.mailchimp.com/8307c30f6ac627ade0e8c0891/images/1ef24bac-ae0c-4cba-bc24-ff2a6b8538ed.png"></a>
          <a href="https://twitter.com/Bloovo" target="_blank"><img src="https://gallery.mailchimp.com/8307c30f6ac627ade0e8c0891/images/deace5db-96d9-4a4c-8336-e57195df6d54.png"></a>
          <a href="https://www.linkedin.com/company/bloovo" target="_blank"><img src="https://gallery.mailchimp.com/8307c30f6ac627ade0e8c0891/images/07be48ee-67c3-4d41-a75a-2d51985e93a8.png"></a>
          <a href="https://plus.google.com/+Bloovo" target="_blank"><img src="https://gallery.mailchimp.com/8307c30f6ac627ade0e8c0891/images/23f3b32a-e8ca-4c44-ac95-feeaa31f419a.png"></a>
          <a href="https://www.instagram.com/bloovo_/" target="_blank"><img src="https://gallery.mailchimp.com/8307c30f6ac627ade0e8c0891/images/a8496948-0f73-4a82-b8ac-fee8109c5c73.png"></a>
          <a href="https://www.youtube.com/channel/UCuRLdElkaZaipKjKVJgICDQ" target="_blank"><img src="https://gallery.mailchimp.com/8307c30f6ac627ade0e8c0891/images/5f037583-cbbc-4c20-ae98-142be988d9dd.png"></a>
        </div>
        <h4 style="font-family: sans-serif; color: #666; text-align: center; font-weight: 400; font-size: 14px">
          Copyright &copy; BLOOVO Middle East FZ LLC. All Rights Reserved.
        </h4>
      </div>
    </div>

  </div>


  </body>
</html>