# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: a98c639585ac562cacc90b2b8704ba1a49a6cc5a04c6f90e3320ad9da7e9072819109f82dc12855e6776ccd819354c1226dd71a918b22e06550d4dbeb77973af
  twitter_consumer_key: CJQOSguWnKdN7QJ2lCf70ahfO
  twitter_consumer_secret: lMvyBouo7ZG2iu9SIyDVFpnWepLG34MonWNcJl9S1zgQJnLkx4
  gmail_client_id: 268636066742-phchpcs8f21ldgr74g5pgej6hbtr9bf8.apps.googleusercontent.com
  gmail_cliend_secret: FmKQJ90RpVChvccyc5BpE-oA
  yahoo_client_id: dj0yJmk9ZXpja3JlVmVFbnNWJmQ9WVdrOVYzcGhXVTFwTXpnbWNHbzlNQS0tJnM9Y29uc3VtZXJzZWNyZXQmeD0zMg--
  yahoo_cliend_secret: ffbb99ca3e888fe0548513db9c613f6a2877f7bb
  outlook_client_id: dcafdcd5-2e31-4976-9330-d55910130221
  outlook_cliend_secret: Hm9Udf34FJNf0D3Hdv7eGbU
  mandrill_key: NyGnGHBn5FOIKkG0r1kZ9Q
  AWS_BUCKET: bloovofiles
  AWS_ACCESS_KEY_ID: AKIAJVFTENINODVA3DXA
  AWS_SECRET_ACCESS_KEY: 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
  AWS_REGION: us-east-1
  AWS_URL: bloovofiles.s3-website-us-east-1.amazonaws.com
  FRONTEND: http://localhost:5555
  BACKEND: http://yakout.bloovo.com:3000
  EMAIL_IMAGES: https://s3.amazonaws.com/bloovofiles/email_templates
  mailchimp_apikey: test
  mailchimp_listid: test
  ALGOLIA_APP_ID: test
  ALGOLIA_API_KEY: test
  FB_KEY: test
  FB_SECRET: test
  LINKEDIN_KEY: test
  LINKEDIN_SECRET: test
  TWITTER_LOGIN_KEY: QWlTj7Dx8bfoqpE3hwes8t1h1
  TWITTER_LOGIN_SECRET: khdqBJh04Vinw77QfUjUlb81b5FbkeUNhsXsjaJRX93WHYDgMD
  VIDYO_KEY: ba02de59b46f452c97760d1a4ef7aeba
  VIDYO_APP_ID: 548d77.vidyo.io
  GOOGLE_FILE_PATH: bloovo-160306-0b7116eafb45.json
  LAST_FB_KEY: 391056021660842
  LAST_FB_SECRET: 59ab4c828f3b0828dd53d19f88a6145d
  EMAIL_BLOOVO_ACCOUNT: info@bloovo.com
  SENDER_EMAIL: hello@bloovo.com
  OWNER_TEAM: [{email: "ahmad@bloovo.com", name: "Ahmad Khamis"}]
  DEMO_RECEIVERS: [{email: "ahmad@bloovo.com", name: "Ahmad Khamis"}, {email: "dabuqasheh@bloovo.com", name: "Daoud Abu Qasheh"}]
  BUSINESS_TEAM: [{email: "ahmad@bloovo.com", name: "Ahmad Khamis"}, {email: "mkresha@bloovo.com", name: "Kresha"}, {email: "jceballo@bloovo.com", name: "Jasmine Ceballo"}, {email: "dabuqasheh@bloovo.com", name: "Daoud Abu Qasheh"}]


test:
  secret_key_base: 02ee1a16be3801ddc5f38377cb7bdc428eac9f3b63da8413f8cd10c7ed275f0734ddfe9f094e8f4bcd8fd7364ae95dff5b88f0c6ef73c9531cf085fe034d4479

staging:
  secret_key_base: 97d73fdec5802325ef8c16b9ae1cd83814d5cdec7178610ae18407d2688d98dba8667c1ace95ec03a56ac54f91e78bb68fa5f7d694ed9703db680909cd02e97a
  twitter_consumer_key: zf7wqdjNvbn9cRbosRw3ibQjw
  twitter_consumer_secret: fSQvlHkuNwTaMybKjALdVZka8BXpVmw4I6gZq2UzPqOJDy1ukZ
  gmail_client_id: 476623609462-6035ino67uur98ef7s5f7mp1o77umf2e.apps.googleusercontent.com
  gmail_cliend_secret: QJK01JXlgAnryylnOf36ME52
  yahoo_client_id: dj0yJmk9ckRkSlE3TkxSWHJpJmQ9WVdrOVFVTktUbXN4TkRRbWNHbzlNQS0tJnM9Y29uc3VtZXJzZWNyZXQmeD00NA--
  yahoo_cliend_secret: b55a98b7436f7fc711dd46f2717550e997ebc0e7
  outlook_client_id: 2df75328-d0bb-4f0d-81c6-953c973ca09d
  outlook_cliend_secret: PPcEm0c2r9JmZqavDgfD4Tn
  mandrill_key: NyGnGHBn5FOIKkG0r1kZ9Q
  AWS_BUCKET: bloovofiles
  AWS_ACCESS_KEY_ID: AKIAJVFTENINODVA3DXA
  AWS_SECRET_ACCESS_KEY: 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
  AWS_REGION: us-east-1
  AWS_URL: bloovofiles.s3-website-us-east-1.amazonaws.com
  FRONTEND: http://bloovo.co
  BACKEND: http://bloovo.co:8080
  EMAIL_IMAGES: https://s3.amazonaws.com/bloovofiles/email_templates
  mailchimp_apikey: test
  mailchimp_listid: test
  ALGOLIA_APP_ID: test
  ALGOLIA_API_KEY: test
  FB_KEY: test
  FB_SECRET: test
  LINKEDIN_KEY: test
  LINKEDIN_SECRET: test
# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: 97d73fdec5802325ef8c16b9ae1cd83814d5cdec7178610ae18407d2688d98dba8667c1ace95ec03a56ac54f91e78bb68fa5f7d694ed9703db680909cd02e97a
  twitter_consumer_key: test
  twitter_consumer_secret: test
  gmail_client_id: 423430784989-test.apps.googleusercontent.com
  gmail_cliend_secret: XqyAi-test
  yahoo_client_id: test--
  yahoo_cliend_secret: test
  outlook_client_id: test
  outlook_cliend_secret: test
  mandrill_key: test
  AWS_BUCKET: bloovofilesproduction
  AWS_ACCESS_KEY_ID: test
  AWS_SECRET_ACCESS_KEY: test
  AWS_REGION: us-east-1
  AWS_URL: bloovofilesproduction.s3-website-us-east-1.amazonaws.com
  FRONTEND: https://www.bloovo.com
  BACKEND: https://test.bloovo.com
  EMAIL_IMAGES: https://s3.amazonaws.com/bloovofilesproduction/email_templates
  mailchimp_apikey: test
  mailchimp_listid: test
  ALGOLIA_APP_ID: test
  ALGOLIA_API_KEY: test
  FB_KEY: test
  FB_SECRET: test
  LINKEDIN_KEY: test
  LINKEDIN_SECRET: test
  TWITTER_LOGIN_KEY: XXXX
  TWITTER_LOGIN_SECRET: XXXX
  VIDYO_KEY: XXXX
  VIDYO_APP_ID: 548d77.vidyo.io
  GOOGLE_FILE_PATH: bloovo-XXXX.json
  ORACLE_URL: https://ebs.ejada.com:443/
  ORACLE_USERNAME: AREFAEY
  ORACLE_PASSWORD: 12345678
