<!doctype html>
<html>
<head>
  <meta charset='utf-8' />
  <%= wicked_pdf_stylesheet_link_tag "jobseekers.css" -%>

</head>
<body>
<div class="save-pdf">
  <div class="res-hed" style="background-color: <%= Rails.application.secrets[:ATS_CSS]["colors"]["primary"] %>">
    <div class="res-lft">
      <h1>HELLO WORLD!</h1>
    </div>
    <div class="clr"></div>
  </div>

</div>

</body>
</html>