body{font-family: sans-serif;padding:0px; marging:0px; }

.offer-letter{
    width: 1024px;
    margin: 0 auto;
    background: #fff;
    position: relative;
    padding-bottom: 66px;
    padding: 50px;
}
.company-logo{
    width: 120px;
    height: 120px;
    background-color: #f1f1f1;
    overflow: hidden;
}
.company-logo img{
    width: 100%;
    height: auto;
}

.candidate h4{
    font-style: 14px!important;
    color: #374b61;
    font-weight: normal;
    display: block;
}

.candidate strong{
    font-style: 14px!important;
    color: #374b61;
    font-weight: 600;
    display: block;
}

.candidate span{
    font-style: 14px!important;
    color: #4f788a;
    font-weight: normal;
    display: block;
    padding: 3px 0px;
}

.title{
    display: block;
    width: 100%;
}
.body-text h3{
    display: block;
    border-bottom: 1px solid #f1f1f1;
    text-align: center;
    font-size: 24px;
    color: #374b61;
    font-weight: 600;
    padding-bottom: 10px;
}

.body-text p{
    font-style: 14px!important;
    color: #4f788a;
    font-weight: normal;
    display: block;
    padding: 3px 0px;
    line-height: 35px;
}

.body-text strong{
    font-style: 14px!important;
    color: #374b61;
    font-weight: 600;
    display: block;
}

.offer-footer{
    border-top: 1px solid #f1f1f1;
    text-align: center;
    margin-top: 40px;
}
.offer-footer p{
    font-size: 14px;
    color: #4f788a;
    padding-top: 20px;
}